.block mb-2{
  margin-bottom: 0px;
}

.small-checkbox .p-checkbox-box {
  width: 1em;
  height: 1em;
}

/* Clear button: warm yellow with some transparency */
.my-clear-btn {
  background-color: rgba(251, 192, 45, 0.76) !important;
  color: #000 !important; /* dark text for contrast */
  border: none !important;
}

/* Save button: teal */
.my-save-btn {
  background-color: rgb(0, 150, 136) !important;
  color: #fff !important; /* white text for contrast */
  border: none !important;
}
